/* ==========================================================================
    Updated nav
   ========================================================================== */

   .beta-header {
    @include mq($until: tablet) {
      padding-bottom: 0;
    }
  }
  
  
  // toggle button
  // only shows when screen can't fit all nav items
  .beta-nhsuk-header__menu-toggle {
    appearance: none;
    background: transparent;
    border: 0;
    border-bottom: 4px solid transparent;
    border-radius: 0;
    border-top: 4px solid transparent;
    box-sizing: border-box;
    cursor: pointer;
    font: inherit;
    margin: 0;
    overflow: visible;
    position: relative;
    text-align: center;
    text-decoration: underline;
    vertical-align: top;
    visibility: hidden;
    width: auto;
    z-index: 1;
  
    &.beta-nhsuk-header__navigation-link {
      padding-right: 30px;
    }
  
    @include mq($from: desktop) {
      display: none;
    }
  
    &.js-show {
      display: block;
      visibility: visible;
    }
  
    &:focus {
      text-decoration: none;
  
      .beta-nhsuk-icon__chevron-down {
        fill: $color_nhsuk-black;
      }
    }
  }
  
  .beta-nhsuk-icon__chevron-down {
    fill: $color_nhsuk-white;
    height: 24px;
    position: absolute;
    right: 4px;
    transform: rotate(90deg);
    width: 24px;
  
    .beta-nhsuk-header__menu-toggle[aria-expanded='true'] & {
      transform: rotate(270deg);
    }
  }
  
  // container
  // append hidden nav to this, don't remove
  .beta-nhsuk-navigation {
    display: flex;
  
    @include mq($until: tablet) {
      position: relative;
      z-index: 10;
    }
  
    @include mq($from: tablet) {
      border-top: 1px solid rgba(255, 255, 255, .2);
    }
  }
  
  // ul of visible nav
  .beta-nhsuk-header__navigation-list {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  
    @include mq($from: desktop) {
      display: flex;
      justify-content: space-between;
    }
  
    .js-enabled & {
      display: flex;
    }
  }
  
  .beta-nhsuk-header__navigation-item {
    margin-bottom: 0;
  }
  
  // a tag
  .beta-nhsuk-header__navigation-link {
    color: $color_nhsuk-white;
    font-size: $nhsuk-base-font-size;
    line-height: 1.5;
    padding: 16px 12px;
    text-decoration: underline;
    white-space: nowrap;
  
    @include mq($from: tablet) {
      padding: 12px 16px;
    }
  
    &:hover {
      color: $color_nhsuk-white;
      text-decoration: none;
    }
  
    &:visited {
      color: $color_nhsuk-white;
    }
  
    .nhsuk-icon__chevron-right {
      display: none;
    }
  }
  
  // ul of hidden nav
  .beta-nhsuk-header__drop-down {
    @include print-hide();
    background-color: $color_nhsuk-white;
    clear: both;
    left: -16px;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding-left: 0;
    position: absolute;
    right: -16px;
    top: 100%;
  
    @include mq($from: tablet) {
      left: 0;
      right: 0;
    }
  
    &.js-hidden {
      display: none;
    }
  
    .beta-nhsuk-header__navigation-link {
      color: $color_nhsuk-blue;
      padding: 12px nhsuk-spacing(3);
    }
  
    .beta-nhsuk-header__navigation-item {
      border-top: 1px solid $color_nhsuk-grey-5;
      margin-bottom: 0;
  
      @include mq($from: large-desktop) {
        border-top: 0;
        margin: 0;
        text-align: center;
      }
    }
  }
  
  .nhsuk-header__search-wrap.js-show {
    margin-bottom: 0;
  }
  
  
  .beta-nhsuk-header__navigation-item--home {
    @include mq($from: desktop) {
      display: none;
    }
  }
  
  .beta-nhsuk-header__navigation-item--services-mobile {
    @include mq($from: desktop) {
      display: none;
    }
  }
  
  .beta-nhsuk-header__navigation-item--services {
    display: none;
  
    @include mq($from: desktop) {
      display: list-item;
    }
  }
  
  .beta-menu-item {
    @include mq($from: large-desktop) {
      display: none;
    }
  }
  
  .beta-nhsuk-header__navigation-close {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg class='nhsuk-icon nhsuk-icon__close' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true' focusable='false' height='40' width='40'%3e%3cpath fill='%23005eb8' d='M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z'%3e%3c/path%3e%3c/svg%3e");
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
  
    &:hover,
    &:focus {
      background-image: url("data:image/svg+xml,%3Csvg class='nhsuk-icon nhsuk-icon__close' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' aria-hidden='true' focusable='false' height='40' width='40'%3E%3Cpath d='M13.41 12l5.3-5.29a1 1 0 1 0-1.42-1.42L12 10.59l-5.29-5.3a1 1 0 0 0-1.42 1.42l5.3 5.29-5.3 5.29a1 1 0 0 0 0 1.42 1 1 0 0 0 1.42 0l5.29-5.3 5.29 5.3a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42z'%3E%3C/path%3E%3C/svg%3E");
    }
  }
  
  .beta-mobile-menu-container {
    align-self: center;
    display: none;
    margin-left: auto;
  
    &.js-show {
      display: block;
    }
  }
  
  .beta-nhsuk-navigation-container {
    position: relative;
  }
  


  