
.nhsuk-hero--image {
    min-height: 320px;
}


.nhsuk-hero {
    background-color: #28e11b;
    color: #ffffff;
    position: relative;
    background: linear-gradient(to bottom, #005eb8 0%, #005eb8 calc(100% - 100px), transparent calc(100% - 100px), transparent 100%);
}

.nhsuk-hero--image-description .nhsuk-hero-content {
    bottom: -248px;
}


.nhsuk-hero--image .nhsuk-hero__overlay {
    background-color: rgba(0, 0, 0, 0);
}

.nhsuk-hero--image-description .nhsuk-hero-content {
    //background-color: #ffffff;
    //color: #212b32;

    margin-bottom: 40px;
    background: #005eb8;
    color: #ffffff;
    border: 1px solid #d8dde0;
    position: relative;
    width: 100%;
    border: none;
    bottom: -148px;
}




.nhsuk-card__description {
    color: #212b32;
}


//V5 Original hero image
.nhsuk-hero2 {
    background-color: #005eb8;
    color: #ffffff;
    position: relative;
    /* background: linear-gradient(to bottom, #005eb8 0%, #005eb8 calc(100% - 100px), transparent calc(100% - 100px), transparent 100%); */
}

