<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK homepage exploration
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        NHS.UK homepage exploration
        <!-- <span class="nhsuk-caption-xl nhsuk-caption--bottom">Version {{version}}</span> -->
      </h1>


      <hr>

      <h2>
        Version 1
      </h2>

        <h3><a href="nhsuk-homepage1a">Homepage 1a</a></h3>
          <ul>
            <li>Lorem ipsum for all text</li>
            <li>Header background: Blue background</li>
            <li>Header text: NHS website for health information and services in England</li>
          </ul>

        <h3><a href="nhsuk-homepage1b">Homepage 1b</a></h3>
        <ul>
          <li>Lorem ipsum for all text</li>
          <li>Header background: Blue background</li>
          <li>Header text: We're here for you. Helping you take control of your health and wellbeing.</li>
        </ul>

        <h3><a href="nhsuk-homepage2">Homepage 2</a></h3>
        <ul>
          <li>Header background: Blue background</li>
          <li>Header text: NHS website for health information and services in England</li>
          <li>New and revised content, Lorem ipsum only for featured section</li>
        </ul>

        <h3><a href="nhsuk-homepage3a">Homepage 3a</a></h3>
        <ul>
          <li>Header background: Blue background</li>
          <li>Header text: NHS website for health information and services in England</li>
          <li>New and revised content</li>
        </ul>

        <h3><a href="nhsuk-homepage3b">Homepage 3b</a></h3>
        <ul>
          <li>Header background: Blue background</li>
          <li>Header text: We're here for you. Helping you take control of your health and wellbeing.</li>
          <li>New and revised content</li>
        </ul>

        <h3><a href="nhsuk-homepage4a">Homepage 4a</a></h3>
        <ul>
          <li>Header background: NHS image with heading text in blue quote box</li>
          <li>Header text: We're here for you. Helping you take control of your health and wellbeing.</li>
          <li>New and revised content</li>
          <li>Health A-Z and Medicine A-Z in hub card</li>
        </ul>


        <h3><a href="nhsuk-homepage4b">Homepage 4b</a></h3>
        <ul>
          <li>Header background: NHS image with heading text in blue quote box</li>
          <li>Header text: We're here for you. Helping you take control of your health and wellbeing.</li>
          <li>New and revised content</li>
          <li>Health A-Z and Medicine A-Z as normal</li>
        </ul>


        <h3>Homepage 5a - Second iteration</h3>
        <ul>
          <li>Header background: NHS image with heading text in blue quote box</li>
          <li>Header text: We're here for you. Helping you take control of your health and wellbeing.</li>
          <li>Featured positioning exploration</li>
          <li><a href="nhsuk-homepage5a-1a">Featured 1 module (One third)</a></li>
          <li><a href="nhsuk-homepage5a-1b">Featured 1 module (Two thirds)</a></li>
          <li><a href="nhsuk-homepage5a-1c">Featured 1 module (Two thirds stacked)</a></li>
          <li><a href="nhsuk-homepage5a-2a">Featured 2 modules (One third)</a></li>
          <li><a href="nhsuk-homepage5a-2b">Featured 2 modules (Half)</a></li>
          <li><a href="nhsuk-homepage5a-3a">Featured 3 modules - below "Find a service"</a></li>
          <li><a href="nhsuk-homepage5a-3b">Featured 3 modules - above "Find a service"</a></li>
        </ul>

        <h3>Homepage 6 - Second iteration - tweaked copy</h3>
        <ul>
          <li><a href="nhsuk-homepage6">Homepage v6</a></li>
        </ul>

        
        <!-- <p><a href="../../docs/views/templates/nhsuk-homepage">Homepage template</a></p> -->




      <!-- End of content -->

    </div>
  </div>
{% endblock %}
