<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS.uk Homepage design options
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <!-- Change the page title here -->
      <h1>
        NHS.uk homepage design options
        <!-- <span class="nhsuk-caption-xl nhsuk-caption--bottom">Version {{version}}</span> -->
      </h1>


      <h2>
        Version 4
      </h2>

      <h3>Strapline on image background (still to move to this prototype)</h3>
      <ul>
        <li><a href="version4/featured-separate-section/were-here-for-you">We're here for you </a> 
          <br>We're here for you (heading)
          <br>Blue quote over image
        </li>

        <li><a href="version4/featured-separate-section/nhs-website-for-england">NHS website for England</a> 
          <br>NHS website for England (heading)
          <br>Blue quote over image
        </li>

        <li><a href="version4/featured-separate-section/nhs-website-for-england-small-h1">NHS website for England</a> 
          <br>NHS website for England (heading)
          <br>Small heading , large strapline
          <br>Blue quote over image
        </li>
      </ul>

      <!-- 
      <h3>Strapline on blue background</h3>
      <ul>
        <li><a href="">We're here for you </a> 
          <br>We're here for you (heading)
          <br>Blue background
        </li>

        <li><a href="">NHS website for England</a> 
          <br>NHS website for England (heading)
          <br>Blue quote over image
        </li>

        <li><a href="">NHS website for England</a> 
          <br>NHS website for England (heading)
          <br>Small heading , large strapline
          <br>Blue quote over image
        </li>
      </ul>
-->

      <hr>

      <h2>
        Version 3
      </h2>

      <h3>Separate featured section</h3>
      <ul>
        <li><a href="version3/featured-separate-section/option1a">Option 1a</a> 
          <br>Featured section below "Manage your health" but above "Find a service"
          <br>List of actions links
        </li>

        <li><a href="version3/featured-separate-section/option1a-revese-background-order">Option 1a - reversed background colour</a> 
          <br>Featured section below "Manage your health" but above "Find a service"
          <br>List of actions links
        </li>
      </ul>      


      <h3>Manage your health and Featured side by side </h3>
      <ul>
        <li><a href="version3/featured-sidebyside/option2a">Option 2a</a>
          <br>Featured content in box
        </li>

        <li><a href="version3/featured-sidebyside/option2b">Option 2b</a>
          <br>Manage yor health content in box
          <br>Featured content in box
        </li>

        <li><a href="version3/featured-sidebyside/option2c">Option 2c</a>
          <br>Manage yor health heading and content in box
          <br>Featured content heading and  in box        
        </li>


        <li><a href="version3/featured-sidebyside/option2a-revese-background-order">Option 2a - reversed background order</a>
          <br>Featured content in box
        </li>
        
      </ul>


        

        <!--Design Archives (where all the old versions are recorded and stored in expanders for refrence if needed)-->
<!--15e ellies changes March 15th
<div class="nhsuk-expander-group">
  <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        Iteration 3 exploration
      </span>
    </summary>
    <div class="nhsuk-details__text">

      <h3>Separate featured section</h3>
      <ul>
        <li><a href="nhsuk-homepage6a"> Option 1b</a>
          <br>- Featured section below "Manage your health" and "Find a service"
          <br>- list of links
        </li>

        <li><a href="nhsuk-homepage6b">Option 1c</a>
          <br>- Featured section below "Manage your health" but above "Find a service"
          <br>- list of links
        </li>
      </ul>


      <h3>Manage your health and Featured side by side</h3>


      

      <ul>
          <li><a href="nhsuk-homepage6b-2-3">Featured section in box</a> <br> 2 featured links</li>
          <li><a href="nhsuk-homepage6b-2-4">Featured section in box</a> <br> 3 featured links</li>
          <li><a href="nhsuk-homepage6b-2-5">Featured section in box</a> <br> 2 featured links <br> Featured subsection of Manage health</li>
          <li><a href="nhsuk-homepage6b-2-6">Featured section in box</a> <br> 3 featured links <br> Featured subsection of Manage health</li>
          <li><a href="nhsuk-homepage6b-2-7">Featured section without box</a> <br> 3 featured links <br> Featured subsection of Manage health</li>
          <li><a href="nhsuk-homepage7">Homepage v7 - Floating blue box over image"</a></li>



        <li><a href="nhsuk-homepage6a">Featured section below "Manage your health" and "Find a service"</a> <br> - list of links</li>
        <li><a href="nhsuk-homepage6b">Featured section below "Manage your health" but above "Find a service"</a> <br> - list of links</li>
        <li><a href="nhsuk-homepage6b-1">Featured section below "Manage your health" but above "Find a service"</a> <br>   - list of actions links</li>

      </ul>      



        


    </div>
  </details>
-->


<!--Research questions: Helpful for external individuals viewing the prototype
<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
      Research Questions 15e
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <h3>Main Questions</h3>
    <ol>
      <li><p>Research Questions to be added</p></li>
      <li><p>Have you ever looked up information on going to an event or travelling abroad in the last 2 years?</p></li>
      <li><p>If yes, what information where you looking for?</p></li>
      <li><p>Have you ever used the NHS COVID App?</p></li>
      <li><p>If yes, what have you used it for?</p></li>
      <li><p>Do you know the different types of COVID passes?</p></li>
      <li><p>Have you applied for a domestic COVID Pass before?</p></li>
      <li><p>If yes, how did you receive it? (Letter or Digital)</p></li>
      <li><p>If yes, how did you find applying for a pass?</p></li>
      <li><p>Have you applied for a travel COVID Pass before? </p></li>
      <li><p>If yes, how did you receive it? (Letter or Digital)</p></li>
      <li><p>If yes, how did you find applying for a pass?</p></li>
    </ol>

    <h3>Travelling:</h3>
    <ol>
      <li><p>You want to find out information about going on holiday and are looking for some general information on how to get started. Show me where you would go to find this information.</p></li>
      <li><p>Do you need to have a COVID Pass to go on holiday?</p></li>
      <li><p>Where would you go to get a COVID Pass?</p></li>
      <li><p>You are going on holiday next month and want to know how long the pass will last for. Show me where you think this information can be found.</p></li>
      <li><p>How do you get a new pass once it has run out?</p></li>
    </ol>

    <h3>Children:</h3>
    <ol>
      <li><p>Your friend has two children who are not yet vaccinated. One is aged 10 and the other 14. Where would you go to find out if they are able to get vaccinated?</p></li>
      <li><p>Are both children able to get the vaccine?</p></li>
      <li><p>Your friend and children are going on holiday with you. Where can you find if they need a COVID Pass?</p></li>
      <li><p>Do they both need a pass? One is 10 and the other 14.</p></li>
    </ol>

    <h3>Vaccinated Abroad:</h3> 
    <ol>
      <li><p>Whilst on holiday you got a booster jab, the vaccine was Johnson & Johnson (aka. Janssen).</p></li>
      <li><p>Show me where you would go to find out if this vaccine is recognized by the NHS</p></li>
      <li><p>How would you update your information on the NHS Site regarding the booster vaccine.</p></li>
    </ol>

    <h3>Final questions</h3> 
    <ol>
      <li><p>How did you find going through the COVID Pages?</p></li>
      <li><p>Was the information easy to find?</p></li>
      <li><p>Is there any information that you think is missing or would like to see?</p></li>
      <li><p>Where would you expect to see this information?</p></li>
    </ol>
    <hr>
  </div>
</details>

<br>
-->



        <!-- <p><a href="../../docs/views/templates/nhsuk-homepage">Homepage template</a></p> -->




      <!-- End of content -->

    </div>
  </div>
{% endblock %}
